body{
    background:#f4f7fc;
    font-family:Arial, Helvetica, sans-serif;
}

.card{
    border-radius:15px;
}

.card-header{
    border-radius:15px 15px 0 0 !important;
}

.btn-primary{
    font-weight:bold;
}

.sidebar{
    width:250px;
    min-height:100vh;
    background:#0d6efd;
    padding:20px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:10px;
    margin-bottom:8px;
    border-radius:8px;
}

.sidebar a:hover{
    background:white;
    color:#0d6efd;
}

.content{
    flex:1;
    padding:20px;
}

.login-box{
    max-width:420px;
    margin:80px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}
@media print{

button,
a{

display:none;

}

body{

background:white;

}

.id-card{

box-shadow:none;

margin:auto;

}

}
